<div id="dom_id branch">
  <% if action_name == "index" %>
    <tr>
      <td><%= branch.fridge%></td>
      <td><%=branch.temperature + t('common.centigrade')%></td>
      <td><%= branch.created_at.strftime("%d/%m/%Y %r")%></td>
      <td><%= time_ago_in_words(branch.created_at).capitalize   %></td>
      <td><%= link_to t('common.show'), branch, class: "btn btn-success"%></td>
      <% if action_name != "show" %>
        <% if user_signed_in? && current_user.role == 'admin' %>
          <td><%= link_to t('common.edit'), edit_branch_path(branch), class: "btn btn-info"%></td>
          <td><%= link_to t('common.destroy'), branch_path(branch), method: :delete, class: "btn btn-danger", data: { 'turbo-method': :delete, 'turbo-confirm': t('message.confirm_destroy', attribute: t('branch.fridge').downcase) }%></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
      <% end %>
    </tr>
  <% else %>
    <br>
    <p class="my-5">
      <strong class="font mb-1"><%= t('branch.fridge') %>:</strong>
      <%= branch.fridge %>
    </p>

    <p class="my-5">
      <strong class="font mb-1"><%= t('branch.temperature')%>:</strong>
      <%= branch.temperature + t('common.centigrade')%>
    </p>

    <p class="my-5">
      <strong class="font mb-1"><%= t('branch.created_at') %>:</strong>
      <%= branch.created_at.strftime('%d/%m/%Y %r') %>
    </p>

    <p class="my-5">
      <strong class="font mb-1"><%= t('branch.time_ago') %>:</strong>
      <%= time_ago_in_words(branch.created_at).capitalize %>
    </p>

    <br>
  <% end %>
</div>
