<div id="dom_id branch">
  <% if action_name == "index" %>
    <tr>
      <td><%= branch.fridge%></td>
      <td><%= branch.temperature + t('common.centigrade')%></td>
      <td><%= image_tag (branch.get_icon + "_small.png"), class: "img-responsive-small"%></td>
      <td><%= branch.updated_at.strftime("%d/%m/%Y %r")%></td>
      <td><%= time_ago_in_words(branch.updated_at).capitalize   %></td>
      <td><%= link_to t('common.show'), branch, class: "btn btn-success"%></td>
      <% if action_name != "show" %>
        <% if user_signed_in? && current_user.role == 'admin' %>
          <td><%= link_to t('common.edit'), edit_branch_path(branch), class: "btn btn-info"%></td>
          <td><%= link_to t('common.destroy'), branch_path(branch), method: :delete, class: "btn btn-danger", data: { 'turbo-method': :delete, 'turbo-confirm': t('message.confirm_destroy', attribute: t('branch.fridge').downcase) }%></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
      <% end %>
    </tr>
  <% else %>
    <div>
      <div>
        <tr>
          <td>
            <div class="row">
            <div class="col-md-4">
                <div class="card">
                  <span class="icon"><%= image_tag (branch.get_icon + "_large.png"), class: "img-responsive", style: 'width:90px; height:50px%;'%></span>
                  <div class="title-temp"><p><strong class="font mb-1"><%= t('branch.fridge') %>: <%= branch.fridge %></strong></p></div>
                  <div class="temp"><%= branch.temperature + t('common.centigrade')%></div>
                    <div class="row">
                      <div class="col-4">
                          <div class=""><%= time_ago_in_words(branch.updated_at).capitalize %></div>
                          <div class="value"><br></div>
                          <div class="value"><%= branch.updated_at.strftime('%d/%m/%Y %r') %></div>
                          <div class="value"><br></div>
                          <div class="value"><%= link_to t('common.back'), branches_path, class: "btn btn-warning", style: "align:left"%></td></div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          <td>
        </tr>
      </div>
    </div>
    <br>
  <% end %>
</div>
