<%= form_with(model: branch, class: "contents", name:"survey") do |form| %>
  <% if branch.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(branch.errors.count, "error") %> <%= t('message.error.prohibited', attribute: t('branch.one')) =%> </h2>
      <ul>
        <% branch.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br>

  <div class="my-5">
    <%= form.label :user_id, t('user.one')  %>
    <% if branch.new_record? %>
      <%= form.select :user_id, options_for_select(@users, :user_id), {}, class: "select" %><br>
    <% else %>
      <%= form.select :user_id, options_for_select(@users, branch.user_id), {}, class: "select" %><br>
    <% end %>
  </div>

  <div class="my-5">
    <%= form.label t('branch.fridge') %>
    <%= form.text_field :fridge, class: "form-control" %>
  </div>

  <% if current_user.show_temperature? %>
  <div class="my-5">
    <%= form.label t('branch.temperature') %>
    <%= form.text_field :temperature, class: "form-control" %>
  </div>
  <% end %>

  <% if current_user.show_humidity? %>
  <div class="my-5">
    <%= form.label t('branch.humidity') %>
    <%= form.text_field :humidity, class: "form-control" %>
  </div>
  <% end %>

  <br>

  <div class="inline">
    <%= form.submit t('common.save'), class: "btn btn-primary"%>
  </div>
<% end %>
