<%= form_with(model: branch, class: "contents", name:"survey") do |form| %>
  <% if branch.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(branch.errors.count, "error") %> <%= t('message.error.prohibited', attribute: t('branch.one')) =%> </h2>
      <ul>
        <% branch.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br>

  <div class="my-5">
    <%= form.label t('branch.fridge') %>
    <%= form.text_field :fridge, class: "form-control" %>
  </div>

  <div class="my-5">
    <%= form.label t('branch.temperature') %>
    <%= form.text_field :temperature, class: "form-control" %>
  </div>

  <br>

  <div class="inline">
    <%= form.submit t('common.save'), class: "btn btn-primary"%>
  </div>
<% end %>
