<% provide(:title, t('branch.other')) %>
<div class="w-full">

  <% if notice.present? %>
    <p class="alert alert-success" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl"><%= provide(:title, t('branch.other')) %> </h1>
  </div>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl"><%= t('branch.other') %></h1>
    <%= link_to t('common.new'), new_branch_path, class: "btn btn-primary" %>
  </div>

  <table class="table" id="dom_id branch">
    <thead>
      <tr>
        <th scope="col"><%= t('branch.fridge') %></th>
        <th scope="col"><%= t('branch.temperature') %></th>
        <th scope="col"><%= t('branch.created_at') %></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <div id="branches" class="min-w-full">
        <%= render @branches %>
      </div>
    </tbody>
  </table>

</div>



