<div class="w-full">

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl"><%= provide(:title, t('branch.other')) %> </h1>
  </div>

<div class="container d-flex justify-content-center">

  <% if user_signed_in? and current_user.role == 'admin' %>
    <div>
      <h1 class="font-bold text-4xl"><%= t('branch.subtitle') %> </h1>
      <p id="select-notice"></p>
      <div class="input-group">
        <%= select_tag(:select_temperature, options_for_select(@branches.map{|i| i.fridge}), class: "select-class")%>
        <button class="btn btn-info btn-info-select" onclick="getFridgeTemperature()">
          <span class="mx-2"><%= t('common.by_fridge')%></span>
        </button>
      </div>
    </div>
  <% end %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl"><%= t('branch.other') %></h1>
    <%= link_to t('common.new'), new_branch_path, class: "btn btn-primary" if user_signed_in? && current_user.role == 'admin' %>
  </div>

  <table class="table" id="dom_id branch">
    <thead>
      <tr>
        <th scope="col"><%= t('branch.fridge') %></th>
        <th scope="col"><%= t('branch.temperature') %></th>
        <th scope="col"><%= t('branch.status') %></th>
        <th scope="col"><%= t('branch.created_at') %></th>
        <th scope="col"><%= t('branch.time_ago') %></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <div id="branches" class="min-w-full">
        <%= render @branches %>
      </div>
    </tbody>
  </table>

  <%= will_paginate(@branches, next_label: inline_svg('arrow_circle_right', class: "paginate-button"), previous_label: inline_svg('arrow_circle_left', class: "paginate-button")) %>

</div>

<script>
function getFridgeTemperature() {
  var fridge = $('select#select_temperature').val()
  $.ajax({
    url: '<%= by_fridge_api_branches_path(format: :json) %>',
    local: true,
    type: 'GET',
    remote: true,
    data: {
      fridge: fridge,
      turbo: false
    },
    error: function(error, textStatus, errorThrown) {
      $("#select-notice").text(JSON.parse(error.responseText).error).addClass("alert alert-danger");
    },
    success: function(data) {
      $("#select-notice").text(data.message).addClass("alert alert-info");
    },
  })
}
</script>
