<p><%= t('devise.mailer.reset_password.hello', email: @resource.email) %></p>

<p><%= t('devise.mailer.reset_password.text_one') %></p>

<p><%= link_to t('devise.change_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('devise.mailer.reset_password.text_two') %></p>
<p><%= t('devise.mailer.reset_password.text_three') %></p>
