<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>

  <body>
    <%= render 'shared/header' %>
    <main class="container mx-auto px-5">
      <h1><%= t('app_title') %></h1>
      <% if notice.present? %>
        <p class="alert alert-success" id="notice"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert alert-danger" id="alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
